// ------------------- Описание переменных -----------------------

$color_logo: #001489;                   // Цвет текста логотипа и фона футера +
$color_logo_focus: #3145C4;             // Цвет при фокусе и нажатии ссылок цвета $color_logo

$color_grey: #999999;                   // Цвет текста описания проекта в хедере
$color_primary_orange: #e87722;         // Основной оранжевый цвет +
$color_primary_black: #000000;          // Основной черный цвет +
$color_primary_white: #FFFFFF;          // Основной белый цвет (фон большинства страниц, текст кнопок в основном контенте) +
$color_footer_white: #FFFFFF;           // Цвет шрифта в футере

$color_link_blue: #0BB8EF;              // Цвет ссылок

$color_orange_button_hover: #c63a3a;    // Цвет оранжевых кнопок при наведении на них +

